{% extends 'flashNotification.html' %}
{% block headerBlock %}
<title>Login</title>
<link href="static/about.css" rel="stylesheet">
<link href="static/login.css" rel="stylesheet">
{% endblock %}

{% block mainBlock%}
  <body>
  <!-- Page name used as spacer for main content -->
  <section class="page-name">
    <div class="page-name-text-container">
      <h1 class="page-name-text">User Registration</h1>
    </div>
  </section>
  <!-- Form for registration -->
  <section id="login-form">
    <form id="form-fields" name="registrationForm" onsubmit="return loginValidation()" action="/userReg" method="POST" >
      <label for="username">Username:</label>
      <input id="username" name="username" type="text" placeholder="Username">
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" placeholder="Password">
      <input type="submit" value="Submit">
    </form>
  </section>
  <script src="static/javascript/loginValidation.js"></script>
  </body>
{%endblock%}
</html>
